body {
	background-color: #f8f8f8;

}

.container {
	width: 50%;
	margin: auto;
	background-color: #ffffff;
	text-align: center;

}

.book-library {
	margin: auto;
	text-align: center;
	background-color: #ffffff;

}

.book {
	background-color: #ffffff;
	border: 1px solid #e0e0e0;
}

.price {
	background-color: #2ecc71;
}

.auhor {
	background-color: #777777;
}

.book .price-block {
	text-align: center;
	background-color: #2ecc71;
	color: #ffffff;
	padding: 10px;
	border-radius: 5px;
	margin: 10px;
	/* padding: 10px; */
}

.book p {
	color: #777777;
}

.book .price {
	color: #2ecc71;
}