/*  your css code here. If applicable */
body {
    background-color: #f8f8f8;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
	display: flex;
	justify-content: center;
}

.book-library {
    background-color: #ffffff;
    padding: 20px;
    display: flex;
	flex-direction: column;
    justify-content: space-around;
    flex-wrap: wrap;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	width: fit-content;
}
h3{
	text-align: center
}

.book {
    background-color: #ffffff;
    border: 1px solid #dddddd;
    padding: 10px;
    margin: 10px;
    width: 200px;
    text-align: center;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.book img {
    width: 100%;
    height: auto;
}

.book h3 {
    font-size: 18px;
    margin: 10px 0;
}

.book .author {
    color: rgb(119, 119, 119);
    margin: 5px 0;
}

.book .price {
    background-color: rgb(46, 204, 113);
	color: white;
	border-radius: 2px;
    font-weight: bold;
    margin: 5px 0;
}
